@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('../public/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; /* Optional: Set text color for readability */
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f8f9fa; */
}

.container {
  padding: 2rem;
  text-align: center;
}

.title {
  color: #343a40;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navigation a {
  margin: 0 1rem;
  text-decoration: none;
  color: #007bff;
}

.navigation a:hover {
  text-decoration: underline;
}

.play-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #0056b3;
}

.footer {
  margin-top: 2rem;
  color: #6c757d;
}
